@font-face {
	font-family: 'eightbit';
    src: url("../../Materials/Fonts/eightbitWonder.ttf") format('truetype');
}

.windowwrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgb(47,54,61);
  z-index: -20;

}

.container
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47.2vh 0 0 -71.85vh;
  z-index: 0;

}

#text, #startScreen, #endScreen, #instructionScreen, #gl-canvas
{
  position: absolute;
  width: 59vh;
  height: 59vh;

  left: 40.88vh;
  top: 16.88vh;

  z-index: 10;
}

#gl-canvas
{
  z-index: 0;
}

 #pauseScreen
 {
  position: absolute;
  width: 33vh;
  height: 14vh;

  left: 53.88vh;
  top: 23.38vh;

  z-index: 10;
 }

#gameboyScreen
{
  position: relative;
  width: 143.70vh;
  height: 94.4vh;

  /*left: 2.62vh;
  top: 2.62vh;*/

  z-index: -10;

}
.gameboydiv{
  position: relative;

  width: 143.70vh;
  height: 94.4vh;

}
#gameStartBtn{

  position:absolute;

  top: 58.88vh;
  left: 25.38vh;

  height: 3.93vh;
  width: 3.93vh;
  border-radius: 100%;

}
#gameResizeBtn{

  position:absolute;

  top: 67.88vh;
  left: 25.38vh;

  height: 3.93vh;
  width: 3.93vh;
  border-radius: 100%;
}
